#modal{
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    color: #333332
}

#sidebarA{
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    color: #333332;
    background-color: #f5f4ec;
}

#filterResults{
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333332;
    background-color: #c8c397;

}

.theme{
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    background-color: #2A395F;
}

.select{
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    font-style: italic;
    opacity: .7;
}

.listings .item {
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    font-size: 12px;
  color: #333332;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid rgb(34, 33, 33, .3) 1px;
  
}

.listings .item:last-child {
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    border-bottom: none;
}

.listings .item .title {
    display: inline-block;
    width: 100%;
    color: #333332;
    font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-top: 5px;
    text-decoration: none;
}


::-webkit-scrollbar {
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
  font-size: 12px;
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    background: none;
}

::-webkit-scrollbar-thumb {
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    border-radius: 0;
    background: #2A395F;
}


.clearfix {
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    display: block;
}

.clearfix::after {
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Flanders Art Sans Light', 'Helvetica Neue', Arial, Sans-serif;
    color: #2A395F;
    text-align: center;
    padding: 5;
    width: 180px;
  }

.mapboxgl-popup-content a {
  color: #c8c397;
  text-decoration: underline;
}

.mapboxgl-popup-close-button {
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    display: none;
  }

.mapboxgl-popup-content h3 {
    color:black;
  font: 14px/18px 'Flanders Art Sans Light', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
    display: block;

  }

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border: 1px solid black;
  clear: both;
}

.nieuw_bedrijventerrein {
  background-color: #e8da11;
}

.bestaand_bedrijventerrein {
  background-color: #3d4f71;
}

.regio {
  background-color: #b0a8c2;
}

.bos {
  background-color: #2b6938;
}

.legenda {
  background-color: #ffffff;
  padding: 10px;
}
  
